---
title: Home
heading:
home: true
---
<div class="home">
	<section>
		<article>
			{{> carousel}}
			<div class="salesModule">
				<img src="http://placehold.it/415x95">
			</div>
			<div class="logos">
				<img src="http://placehold.it/275x95">
			</div>
		</article>

		<aside>
			<img src="http://placehold.it/300x250">
			<img src="http://placehold.it/300x85">
			<img src="http://placehold.it/300x220">
		</aside>
	</section>
</div>