.clearfix {
  clear: both;
  overflow: auto;
}

.bubble-wrpr {
  max-width: 96%;
  overflow: hidden;
  margin: 1em auto;
  h1 {
    color: $color-black;
    font-weight: bold;
  }
}

@include media($tablet) {
  .carouselFancy600 { display: none; }
  .mf_feature___featureImage {
    width: 100%;
    clear: both;
  }
}