<header role="banner">
  <div class="container">
    {{> logo }}
    <div class="social mobile-hide">
      <ul>
      	<li>FOLLOW US</li>
        <li><i class="fa fa-facebook-square"></i></li>
        <li><i class="fa fa-twitter-square"></i></li>
        <li><i class="fa fa-pinterest-square"></i></li>
        <li><i class="fa fa-instagram"></i></li>
      </ul>
    </div>
  </div>
</header>
