.home {
	.inner-wrapper {
		background-image: url(/mimages/ssmgse15/bg-home-vero-beach.jpg);
		background-position: center;
		background-size: cover;
	}
	section {
		@include outer-container;
		@include media($mobile) {
			@include span-columns(5);
		}
	}

	article {
		@include span-columns(14);
		.salesModule {
			@include span-columns(12);
			margin-top: $base-spacing;
		}
		.logos {
			@include span-columns(8);
			margin-top: $base-spacing;
		}
		@include media($tablet) {
			@include span-columns(10);
			@include margin(0);
			@include padding(0);
		}
		@include media($mobile) {
			@include span-columns(5);
			.salesModule {
				@include span-columns(5);
			}
			.logos {
				@include span-columns(5);
			}
			img {
				@include margin(0 auto);
			}
		}
	}

	aside {
		@include span-columns(6);
		@include omega();
		float: right; 
		img {
			float: right;
			@include margin(0 0 $base-spacing 0);
		}
		@include media($tablet) {
			@include span-columns(10);
			@include margin(0);
			@include padding(0);
			img {
				float: left;
				@include margin($base-spacing);
			}
		}
		@include media($mobile) {
			@include span-columns(5);
			img {
				float: none;
				@include margin($base-spacing auto);
			}
		}
	}

}