.info {
	.left {
		@include span-columns(7);
	}
	.hours {
		&.right {
			@include span-columns(5);
			@include omega();
		}
	}
}

//styleguide
.styleguide {
	section {
		min-height: 0;
	}
	article {
		@include span-columns(8);
	}
	aside {
		@include span-columns(4);
	}
}

//directions
#mapContainer {
	@include margin(0 0 $base-spacing 0);
}
#map-canvas {
	@include margin($base-spacing 0);
}
input#starting {
	@include margin($base-spacing 0);
}

//store inside pages
#store-logo {
	float: left;
	@include margin(0 $base-spacing 0 0);
}

//search
.guideStoreMeta {
	border-bottom: $base-border;
	@include margin($base-spacing 0);
	@include padding(0 0 $base-spacing 0);
	&:last-child {
		border-bottom: none;
	}
}