.deals {
	border-bottom: $base-border;
	overflow: auto;
	@include padding($base-spacing 0);
	&.single-deal {
		border-bottom: none;
	}
	&:last-child {
		border-bottom: none;
	}
}

.dealsTitle {
	font-size: 2rem;
	text-transform: uppercase;
}

dt.dealsStore {
	float: left;
	@include margin(0 $base-spacing * 2);
}